body {
    background-image: url(img/options_background.png);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position-x: -100px;
    background-position-y: -50px;
    max-width: 940px;
}

#container {
    max-width: 640px;
    float: right;
}

#container > h1 {
    color: #888;
    font-weight: normal;
    margin-left: 10px;
}

#saveOptionsButton {
    margin-top: 20px;
}

form.flagrate.flagrate-form.flagrate-form-vertical > div:not(:last-child) {
    margin-bottom: 20px;
}